.main {
  min-height: 80vh;
}

body {
  background: url(ignasi_pattern_s.png);
}

.navbar-logo {
  background-color: #4aaaa5;
  color: white !important;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px;
}

.navbar-custom {
  padding-top: 0;
  padding-bottom: 0;
}

.navlink-custom {
  color: #777 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 15px !important;
}

.contact-section {
  background-color: #fff;
  padding: 20px;
  margin-top: 32px;
}

.contact-section-title {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 20px;
  font-weight: 700;
  color: #4aaaa5;
}

.label {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #bbc;
}

.submit-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 15px 30px;
  color: #fff;
  background-color: #4aaaa5;
}

.image {
  width: 55px;
  height: 55px;
  padding-left: 5px;
}

.connect-section {
  background: #fff;
  padding: 30px 30px 43px;
  margin-top: 32px;
}

.connect-section-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: #4aaaa5;
}

.footer {
  width: 100%;
  margin-top: 40px;
}

.footer-para {
  background-color: #777;
  color: #fff;
  padding: 40px;
  text-align: center;
  margin-bottom: 0;
  border-top: 6px solid #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
